.footer {
    width: 100%;
    background-color: rgb(63, 63, 63);
    height: 70px;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;

    p{
        color: white;
       padding-top: 1%; 
    }
}