<h3 class="text-center">Our cats</h3>
<div class="row row-cols-lg-3 p-3 styleing">
    <div class="card cards" style="width: 18rem;" *ngFor="let cat of cats; index as i">
        <h5 class="card-header">{{cat.name}}</h5>
        <br>
        <img style="height: 100%;" src="{{cat.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{cat.type}}</p>
            <a routerLink="/cats/{{ i }}" class="btn btn-primary">See details</a>
        </div>
    </div>
</div>