<h3 class="text-center">Dog details</h3>
<div class="row row-cols-lg-3 p-3 styleing" *ngIf="dog">
    <div class="card cards" style="width: 18rem;">
        <h5 class="card-header">{{dog.name}}</h5>
        <br>
        <img style="width: auto; height: 100%;" src="{{dog.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">{{dog.type}}</p>
            <p class="card-text">{{dog.about}}</p>
            <p class="card-text">{{dog.price}} €</p>
            <div class="btns">
                <a routerLink="/dogs" class="btn btn-primary">Go back</a>
                <a (click)="addToCart()" class="btn btn-primary">My new baby</a>
            </div>
        </div>
    </div>
</div>